@import url('build/font/TitlingGothicFBComp-Reg.otf');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// Fuentes
$fuente_principal: 'TitlingGothicFBComp-Regular', sans-serif;
$fuente_secundaria: 'Inter', sans-serif;


// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores  
$celeste: rgb(52, 114, 173);
$azul: #193758;
$naranjaClaro: #f08233;
$naranjaFuerte: #e54c0f;
$blanco: #ffffff;
$negro: #2C2C2C;
$gris:#D8D9DA;

$separacion: 5rem;

// Grosor de las Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900