.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;

    a,
    input {
        font-family: $fuente-principal;
        font-weight: bold;
        color: $negro;
    }

    a {
        text-decoration: none;
    }

    input {
        background: none;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }

    
    
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.overlay-content {
    position: absolute;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 80px;


    a {
        font-family: $fuente-principal;
        font-weight: bold;
        color: $negro;
        transition: background-color 0.5s;
        padding: 0 10px;
    }

    a:hover {
        
        color: $blanco;
        background: linear-gradient(90deg, rgba(248, 71, 59, 1) 0%, rgba(193, 31, 20, 1) 100%);
    }


    input {
        text-align: end;
        background: none;
        border: none;
        color: $blanco;
        font-size: 30px;
        font-weight: bold;
        color: $negro;
        padding: 10px;


        &:hover {
            cursor: pointer;
        }
    }

}

//  termina overlay-content
.presentacion {
    background-image: url(/build/img/presentacion__fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin: 0;
    }

        p{
            width: 50%;
            text-align: center;
        }
    
    .presentacion__enlaces {
        
        input {
            width: 209px;
            height: 40px;
            border-radius: 280px;
            border: none;
            color: $blanco;
            font-family: $fuente-principal;
            font-weight: bold;
            background: linear-gradient(90deg, rgba(255, 105, 95, 1) 0%, rgba(227, 23, 10, 1) 100%);
            transition: background 1s ease;
            &:hover{
                cursor: pointer;
                background: linear-gradient(90deg, rgba(248,71,59,1) 0%, rgba(193,31,20,1) 100%);
            }
        }

        

        a {
            font-family: $fuente-principal;
            font-weight: bold;
            color: $negro;
        }
    }
}