// Estas lineas siempre se ejecuentan para todas las pantallas
p {
    width: 90%;
    text-align: center;
}

h2 {
    margin: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

// hasta aqui


.navbar {
    display: flex;
    flex-direction: row;
    justify-content:end;
    margin: 20px;

    a,
    input {
        font-family: $fuente-principal;
        font-weight: bold;
        color: $negro;
        text-decoration: none; // Movido desde el selector a para simplificar
    }

    input {
        background: none;
        border: none;

        &:hover {
            cursor: pointer;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay-content {
    position: absolute;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 50px;

    a {
        font-family: $fuente-principal;
        font-weight: bold;
        color: $negro;
        transition: background-color 0.5s;
        padding: 0 10px;
    }

    a:hover {
        color: $blanco;
        background: linear-gradient(90deg, rgba(248, 71, 59, 1) 0%, rgba(193, 31, 20, 1) 100%);
    }

    input {
        text-align: end;
        background: none;
        border: none;
        color: $negro;
        font-size: 30px;
        font-weight: bold;
        padding: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.presentacion {
    background-image: url(../../../build/img/presentacion__fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

    .presentacion__enlaces{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .presentacion__enlaces {

        a{
        font-family: $fuente-principal;
        font-weight: bold;
        color: $gris;
        border: 1px solid $gris;
        border-radius: 980px;
        font-weight: bold;
        padding: 10px;
        transition:ease-in .2s;
        width: 209px;
        text-align: center;
        margin-top: 10px;

        &:hover{
            cursor: pointer;
            background-color: $gris;
            color: $blanco;
        }
        }
        

        .presentacion__btn{
            color: $blanco;
            border: none;
        }
    }

    
}

// para que se ejecute este pedazo de codigo el tamaño minimo de la pantalla debe ser 768px
@include tablet {
    
        h2{
            font-size: 8rem;
        }

        p {
            width: 70%;
        }

        .overlay-content {
            font-size: 100px;
        }

        .presentacion{
        .presentacion__enlaces{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a{
                margin: 0 10px;
            }
        }
    }
    
}

@include desktop {
    h2{
        font-size: 10rem;
    }

    p {
        width: 50%;
    }
    
}
